{% extends "layout.html" %}

{% block content %}

<table class= "table is-striped" id="gst_table"> 
    <thead>
        <tr>
            <th>Regional Code</th>
            <th>Office Code</th>
            <th>Vendor name</th>
            <th>GST Number</th>
            <th>GST invoice number</th>
            <th>GST invoice date</th>
            <th>Invoice value amount</th>
            <th>GST Amount</th>
            <th>Voucher number</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
 </table>

{% block scripts %}
<script>
    $(document).ready(function () {
            $('#gst_table').DataTable({

                    ajax: '{{ source }}',
                    serverSide: true,
                    stateSave: true,
                    processing: true,
                    columns: [
                    {data: 'regional_code'},
                    {data: 'office_code'},
                    {data: 'supplier_name'},
                    {data: 'supplier_gstin'},
                    {data: 'doc_no'},
                    {data: 'doc_date'},
                    {data: 'taxable_value',
                        render: $.fn.dataTable.render.number(',','.',0,'')},
                    {data: 'total_tax',
                            render: $.fn.dataTable.render.number(',','.',0,'')},
                    {data: 'keywords'},
                    {data: 'id',
                     render: function (data, type, row, meta) {
                            return '<a href="' + data + '/edit">Edit</a>';
                                }
                   }
                  ],
                    order: [[7, 'desc']]
                });
        });
</script>
{% endblock scripts %}

{% endblock content %}
